@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #09161d;
  font-family: "Poppins", sans-serif;
}

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background: #122936;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  height: 100%;
  width: 100%;
  background: #2196f3;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  transform: skewY(390deg);
}

.card::after {
  content: "Philips";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 7.7rem;
  color: rgba(0, 0, 0, 0.1);
}
